<div class='container'>
  <div class="question-header"><%= @question.title %></div>
  <div class="votes">
    <span class="vote-count"><%= @question.votes.count %></span>
    <div class="vote-count-subtitle">votes</div>
  </div>
  <div class='yellow-container'>
    <div class="answers">
      <span class="answer-count"><%= @question.answers.count %></span>
      <div class="answer-count-subtitle">answers</div>
    </div>
  </div>
  <div class='yellow-container'>
    <div class="question-body"><%= @question.body %></div>
  </div>

  <div class='comment-container'>
    <ul>
      <% @question.comments.each do |comment| %>
      <hr>
      <li> <%= comment.body %> </li>
      <% end %>
      <hr>
      <form class="" action="/comments" method="post">
      <input type="hidden" name="comment[user_id]" type="text" value=<%= current_user.id %>>
      <input type="hidden" name="comment[commentable_id]" type="text" value=<%= @question.id %>>
      <input type="hidden" name="comment[commentable_type]" type="text" value=<%= "Question" %>>
      <input type="text" name="comment[body]" placeholder="Add comment...">
      <input type="submit" value="Post!" class="submit_question_comment">
      </form>
    </ul>
  </div>
</div>

<div class='answer-container'>

    <% @question.answers.each do |answer| %>
      <div class='container'>

        <%= answer.body %>
        <ul>
          <hr>
        <% answer.comments.each do |comment| %>
          <li> <%= comment.body %> </li>
          <hr>
        <% end %>

          <form class="" action="/comments" method="post">
          <input type="hidden" name="comment[user_id]" type="text" value=<%= current_user.id %>>
          <input type="hidden" name="comment[commentable_id]" type="text" value=<%= answer.id %>>
          <input type="hidden" name="comment[commentable_type]" type="text" value=<%= "Answer" %>>
          <input type="text" name="comment[body]" placeholder="Add comment...">
          <input type="submit" value="Post!" class="submit_answer_comment">
          </form>
        </ul>

      </div>
    <% end %>

<div class='container'>
  <form class="" action="/answers" method="post">
    <input type="hidden" name="answer[user_id]" type="text" value=<%= current_user.id %>>
    <input type="hidden" name="answer[question_id]" type="text" value=<%= @question.id %>>
    <input type="text" name="answer[body]" placeholder="Add comment...">
    <input type="submit" value="Post!" class="new_answer">
  </form>
</div>

</div>

</div>
