
<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li> <%= error %> </li>
  <% end %>
</ul>
<% end%>

<div class='container'>

  <div class="question-header"><%= @question.title %></div>

  <section class="question-section">
    <div class="vote-cell">
        <div class="horizontal-center"><div class="arrow-up"></div></div>
          <div class="vote-count-digit"><%= @question.votes.count %></div>
        <div class="horizontal-center"><div class="arrow-down"></div></div>
    </div>
    <div class="question-body">
      <%= @question.body %>
    </div>
  </section>


  <section class='comment-section'>
    <ul class="comment-list">
      <% @question.comments.each do |comment| %>
      <hr>
      <li> <%= comment.body %> </li>
        <% end %>
      <hr>
      <% if logged_in %>
        <form class="comment" action="/comments" method="post">
          <input type="hidden" name="question_id" type="text" value=<%= @question.id %>>
          <input type="hidden" name="comment[user_id]" type="text" value=<%= current_user.id %>>
          <input type="hidden" name="comment[commentable_id]" type="text" value=<%= @question.id %>>
          <input type="hidden" name="comment[commentable_type]" type="text" value=<%= "Question" %>>
          <input type="text" name="comment[body]" placeholder="Add comment...">
          <input type="submit" value="Post!" class="submit_question_comment button">
        </form>
      <% end %>
    </ul>
  </section>

  <section class='answer-section'>

      <% @question.answers.each do |answer| %>
        <div class='container'>

          <%= answer.body %>
          <ul>
            <hr>
            <% answer.comments.each do |comment| %>
            <li class="comment"> <%= comment.body %> </li>
            <hr>
            <% end %>
            <% if logged_in %>
              <form class="comment" action="/comments" method="post">
                <input type="hidden" name="question_id" type="text" value=<%= @question.id %>>
                <input type="hidden" name="comment[user_id]" type="text" value=<%= current_user.id %>>
                <input type="hidden" name="comment[commentable_id]" type="text" value=<%= answer.id %>>
                <input type="hidden" name="comment[commentable_type]" type="text" value=<%= "Answer" %>>
                <input type="text" name="comment[body]" placeholder="Add comment...">
                <input type="submit" value="Post!" class="submit_answer_comment button">
              </form>
            <%end%>
          </ul>
        </div>
        <% end %>
    </section>
    <form class="answer" action="/answers" method="post">
      <input type="hidden" name="answer[user_id]" type="text" value=

      <% if logged_in %>
        <%= current_user.id %>>
      <% else %>
        <%= "" %>
      <% end %>

      <input type="hidden" name="answer[question_id]" type="text" value=<%= @question.id %>>
      <textarea rows="8" cols="70" name="answer[body]" placeholder="Add answer..."></textarea>
      <input type="submit" value="Post Your Answer" class="new_answer button">
    </form>
</div>
